
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Manrope", sans-serif;
 	font-weight: 300;
	font-style: normal
}

.text {
	text-align: left;
	max-width: 600px;
	margin: 0 auto;
	padding-left: 1rem;
	border-left: 2px solid #eee;
}

.heading {
	font-weight: 300;
	text-align: center;
}
